<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8" />
    <title>C'est tourné ! - Page d'acceuil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/index.js" defer></script>
    <link rel="icon" href="site/logo.png">
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <div class="icon">
            <img src="site/logo.png">
            <span class="blue">C'est tourné !</span>
        </div>
        <div class="searchbar">
            <svg viewBox="0 0 24 24" aria-hidden="true" class="search-icon">
                <!-- Dessin de la search icon (trouvé sur Google)-->
                <g>
                    <path
                        d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                    </path>
                </g>
            </svg>

            <form action="/search" method="post">
                <input type="search" list="Movies-Series" placeholder="Rechercher un film ou une série..." name="search" autocomplete="off"/>
                <datalist id="Movies-Series">
                    <% movies.forEach(item=> { %>
                        <option value="<%= item.title %>"></option>
                    <% }) %>
                    <% series.forEach(item=> { %>
                        <option value="<%= item.title %>"></option>
                    <% }) %>
                </datalist>
            </form>
        </div>
        <div class="actions">
            <a href="/add">
                <div class="ajouter"><span>+</span><span>Ajouter</span></div>
            </a>
            <% if (username) { %>
                <div class="connecter" onclick="openPopup()"></div>
                <div class="popup" id="popUp">
                
                    <div class="icon">
                        <img src="/site/profile.webp">
                        <h1><%= username %></h1>
                    </div>

                    <span class="grey">Membre depuis <%= userDate %></span>
                
                    <div class="niveau-info">
                        <div class="niveau">
                            <h2>Niveau <%= userLevel %></h2>
                        </div>
                        <div class="level">
                            <div class="shape xp-<%= userXp %>"></div>
                        </div>
                    </div>

                    <div class="missions">
                        <div class="mission cyan">
                            <img src="/site/comment.png">
                            <h1><%= userMissions.commentaires%></h1>
                            <span class="grey">Avis ajoutées</span>
                        </div>
                        <div class="mission violet">
                            <img src="/site/eye.png">
                            <h1><%= userMissions.visites %></h1>
                            <span class="grey">Visites</span>
                        </div>
                        <div class="mission bleu">
                            <img src="/site/logo.png">
                            <h1><%= userMissions.publication %></h1>
                            <span class="grey">Oeuvres ajoutées</span>
                        </div>
                    </div>
                    
                    <div class="double-boutons">
                        <a href="/logout"><button class="close-btn"><span>Se déconnecter</span></button></a>
                        <button class="close-btn" onclick="closePopup()"><span>X</span></button>
                    </div>
                </div>
            <% } else { %>
                <a href="/login">
                    <div class="connecter"></div>
                </a>
            <% } %>
        </div>


        <div class="burger">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3_h"></div> <!-- Bar caché dans la bar2 -->
            <div class="bar4"></div>
        </div>
        <div class="burger-menu">
            <div class="burger-searchbar">
                <svg viewBox="0 0 24 24" aria-hidden="true" class="search-icon">
                    <!-- Dessin de la search icon (trouvé sur Google)-->
                    <g>
                        <path
                            d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                        </path>
                    </g>
                </svg>
                <form action="/search" method="post">
                    <input type="search" list="Movies-Series" placeholder="Rechercher un film ou une série..." name="search"
                        autocomplete="off" />
                    <!-- Pas besoin de recopier 2 fois la datalist, on y accepte grâce a list = id de la datalist -->
                </form>
            </div>
            <a href="/add">
                <div class="ajouter"><span>+</span><span>Ajouter</span></div>
            </a>
            <% if (username) { %>
                <div class="icon" onclick="openPopupMobile()">
                    <div class="connecter"></div>
                    <span>Mon compte</span>
                </div>
                <div class="popup" id="popUpMobile">
                
                    <div class="icon">
                        <img src="/site/profile.webp">
                        <h1><%= username %></h1>
                    </div>

                    <span class="grey">Membre depuis <%= userDate %></span>
                
                    <div class="niveau-info">
                        <div class="niveau">
                            <h2>Niveau <%= userLevel %></h2>
                        </div>
                        <div class="level">
                            <div class="shape xp-<%= userXp %>"></div>
                        </div>
                    </div>

                    <div class="missions">
                        <div class="mission cyan">
                            <img src="/site/comment.png">
                            <h1><%= userMissions.commentaires %></h1>
                            <span class="grey">Avis ajoutées</span>
                        </div>
                        <div class="mission violet">
                            <img src="/site/eye.png">
                            <h1><%= userMissions.visites %></h1>
                            <span class="grey">Visites</span>
                        </div>
                        <div class="mission bleu">
                            <img src="/site/logo.png">
                            <h1><%= userMissions.publication %> </h1>
                            <span class="grey">Oeuvres ajoutées</span>
                        </div>
                    </div>
                    
                    <div class="double-boutons">
                        <a href="/logout"><button class="close-btn"><span>Se déconnecter</span></button></a>
                        <button class="close-btn" onclick="closePopupMobile()"><span>X</span></button>
                    </div>
                </div>
            <% } else { %>
                <div class="icon">
                    <a href="/login"><div class="connecter"></div></a>
                    <a href="/login"><span>Se connecter</span></a></a>
                </div>
            <% } %>
        </div>
    </nav>

    <div class="icon tendance-icon">
        <img src="/site/tendance.png">
        <span class="blue">Tendance du Mois</span>
    </div>

    <div class="tendance" onclick="seeArtwork('<%= mostPopular.title %>')" style="background-image: url('/image/<%= mostPopular.image %>');"> <!-- Obligé car texte à l'intérieur -->
        <div class="details">
            <div class="ensemble">
                <div class="popularite">#1 Populaire</div>
                <div class="type"><%= mostPopularType %></div>
            </div>
            <div class="description">
                <h1><%= mostPopular.title %></h1>
                <h2><%= mostPopular.description %></h2>
            </div>
            <div class="ensemble">
                <span class="star">★</span>
                <div class="notes">
                    <span><%= mostPopular.averageRating %></span>
                    <span class="grey">(<%= mostPopular.reviews.length %> avis)</span>
                </div>
                <div class="genres">
                    <% mostPopular.genre.forEach(g=> { %>
                        <span><%= g %></span>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

    <form id="filterForm" action="/filter" method="POST">         <!-- Pour le back-end -->
    <input type="hidden" name="type" id="filterType" value="<%= selectedFilters && selectedFilters.type ? selectedFilters.type : 'tous' %>">
    <input type="hidden" name="genre" id="filterGenre" value="<%= selectedFilters && selectedFilters.genre ? selectedFilters.genre : 'tous-les-genres' %>">
    <input type="hidden" name="popularity" id="filterPopularity" value="<%= selectedFilters && selectedFilters.popularity ? selectedFilters.popularity : 'peu-importe' %>">
    </form>

    <div class="filter-container">
        <div class="icon">
            <img src="/site/filter.png">
            <span>Filtres :</span>
        </div>
    
        <div class="filter" data-input="filterType">
            <div class="selected"><% if (selectedFilters && selectedFilters.type === 'films') { %>Films<% } else if (selectedFilters && selectedFilters.type === 'series') { %>Séries<% } else { %>Tous<% } %><span class="arrow">▼</span></div>
            <div class="options">
                <div data-value="tous">Tous</div>
                <div data-value="films">Films</div>
                <div data-value="series">Séries</div>
            </div>
        </div>

        <div class="filter" data-input="filterGenre">
            <div class="selected"><% if (selectedFilters && selectedFilters.genre && selectedFilters.genre !== 'tous-les-genres') { %> <%= selectedFilters.genre.charAt(0).toUpperCase() + selectedFilters.genre.slice(1) %>
 %><% } else { %>Tous les genres<% } %><span class="arrow">▼</span></div>
            <div class="options">
                <div data-value="tous-les-genres">Tous les genres</div>
                <% genres.forEach(genre => { %>
                    <div data-value="<%= genre %>"><%= genre.charAt(0).toUpperCase() + genre.slice(1) %></div>
                <% }) %>
            </div>
        </div>

        <div class="filter" data-input="filterPopularity">
            <div class="selected"><% if (selectedFilters && selectedFilters.popularity === 'plus-populaire') { %>Plus populaire<% } else if (selectedFilters && selectedFilters.popularity === 'moins-populaire') { %>Moins populaire<% } else if (selectedFilters && selectedFilters.popularity === 'peu-importe') { %>Peu importe<% } else { %>Popularité<% } %><span class="arrow">▼</span></div>
            <div class="options">
                <div data-value="plus-populaire">Plus populaire</div>
                <div data-value="moins-populaire">Moins populaire</div>
                <div data-value="peu-importe">Peu importe</div>
            </div>
        </div>
    </div>

<div class="oeuvres">
    <% let i=0; 
    let j=0; 
    while (i < movies.length || j < series.length) { %>
        <% if (i < movies.length) { %>
            <div class="oeuvre" onclick="seeArtwork('<%= movies[i].title %>')">
                <img src="image/<%= movies[i].image %>">
                <div class="type">Film</div>
            </div>
        <% i++; } %>

        <% if (j < series.length) { %>
            <div class="oeuvre" onclick="seeArtwork('<%= series[j].title %>')">
                <img src="image/<%= series[j].image %>">
                <div class="type">Série</div>
            </div>
        <% j++; } %>
    <% } %>
</div>


</body>

</html>